#ignore config folders
.*
!.eslintignore
!.eslintrc.cjs
!.eslintrc.json
!.prettierrc.json
!.github

#ignore build
dist/*

#ignore packages
node_modules/*

#ignore models
models/*


#ignore generated test fixtures and harness bundles
out/*
docs/nmi-ifc-all.bos
